<h2 class="maintitle">Base de datos<sub>Optimizar y limpiar las tablas</sub></h2>

La limpieza y optimización se terminó con éxito. Podés hacer clic en el botón <code>Aceptar</code> para volver a la pantalla de inicio.
<hr>
<div style="float:right">
<a href="{$_layoutParams.root}" class="btn btn-success">Aceptar</a>
</div> 