<h2 class="maintitle">Base de datos<sub>Respaldo de base de datos</sub></h2>

<h5>Se ha realizado el respaldo en forma exitosa</h5>
Puede descargar el respaldo haciendo click en este enlace <a href="{$archivo}">{$archivo}</a>.