@CHARSET "UTF-8";

.padded {
	margin-top:30px;
	margin-bottom: 40px;
}

.maintitle {
	text-align:left;
}

.maintitle sub {
	display: block;
	color: #888;
	padding: 8px 0px;	
}

h2 {
	text-align: center;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
}

hr {
	border-bottom: 1px solid #ccc;
}
