@CHARSET "UTF-8";

// adds submenu suport to bs3
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{position:relative; top:-24px;left:25%;margin-top:24px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


.footer{
	display:block;
	position: fixed;
	padding-top:4px;
	background: #fff;
	text-align: right;
	width: 100%;
	height: 32px;
	left: 0px;
	bottom: 0px;
	box-shadow: 0px -1px 8px #000;
}
