.jumbotron {
  background: #0d598b; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #0d598b 0%, #179af1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0d598b), color-stop(100%,#179af1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #0d598b 0%,#179af1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #0d598b 0%,#179af1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #0d598b 0%,#179af1 100%); /* IE10+ */
  background: linear-gradient(45deg,  #0d598b 0%,#179af1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d598b', endColorstr='#179af1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bs-docs-base-adm1:after {
   content: "Datos generales";
}   

.bs-docs-base-adm2:after {
   content: "Datos del cliente";
}   

.bs-docs-base-adm3:after {
   content: "Datos del equipo";
}

.bs-docs-base-adm4:after {
   content: "Información pre diagnóstico";
}
