<h2 class="maintitle">Listas de control de acceso<sub>Menú de gestión de listas</sub></h2>

<ul>
    <li><a href="{$_layoutParams.root}acl/roles">Roles</a></li>
    <li><a href="{$_layoutParams.root}acl/permisos">Permisos</a></li>
</ul>