<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Instalador de aplicaciones del framework Pecar&iacute;</title>
	
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<style type="text/css">
    body {
        background: #dddfe2;
    }
</style>
</head>
<body>
	
<div class="container card">
    <div class="card">
        <div class="card-header">
          <h3>Conexión a base de datos</h3>
        </div>
        <div class="card-body">
<?php if (isset($error)) : ?>            
<div class="alert alert-danger" role="alert">
  <?php echo $error;?>
</div>
<?php endif;?>

            
<form method="post">
    <h3>Conexión a MySQL</h3>
    
    <div class="form-group row">
        <label for="host" class="col-sm-2 col-form-label">Host</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="<?php puts("db_host");?>" name="host" id="host" title="Host donde se aloja la bbdd&#010;&#013;ej. localhost">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="user" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="<?php puts("db_user");?>" id="user" name="user" title="Nombre de usuario para conectar a la bbdd">
        </div>
    </div>

    <div class="form-group row">
        <label for="pass" class="col-sm-2 col-form-label">Clave</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="pass" name="pass" title="Clave de acceso a la bbdd">
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nombre (BBDD)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="<?php puts("db_name");?>" id="name" name="name" title="Nombre de la bbdd">
        </div>
    </div>

    <div class="form-group row">
        <label for="prefijo" class="col-sm-2 col-form-label">Prefijo</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="<?php puts("prefijo");?>" id="prefijo" name="prefijo" title="Prefijo de las tablas básicas del framework">
        </div>
    </div>
    
    <div class="form-group row">
        <label for="char" class="col-sm-2 col-form-label">Codificación</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="<?php puts("db_char");?>" id="char" name="char" title="Codificación de caracteres de la base de datos&#010;&#013;ej: utf8">
        </div>
    </div>

    <h3>Acceso al sistema</h3>
    <div class="form-group row">
        <label for="apass" class="col-sm-2 col-form-label">Clave</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="apass" name="apass" title="Clave de usuario administrador de sistema">
        </div>
    </div>
    
     <div class="form-group row">
        <label for="url" class="col-sm-2 col-form-label">URL</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" value="<?php puts("base_url");?>" id="url" name="url" title="URL de acceso a la interfaz de aplicación de base del framework">
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-sm-12">
            <button class="btn btn-primary pull-right" type="submit">Aceptar</button>
        </div>
    </div>
</form>
            
            
        </div>

        <div class="card-footer">
            <span class="pull-right small">&copy; <?php echo $footer_anio;?> by [DaRk_AsM]</span>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
