<h2 class="maintitle">Usuarios<sub>Roles de usuario</sub></h2>

<p>
    <strong>Usuario:</strong> adm 
</p>

<form name="form1" method="post" action="" >
    <input type="hidden" value="1" name="guardar">
                        <div style="float:left;margin-right:8px;margin-top:4px"><strong>Roles </strong></div>
                        <select name="role">
                        {foreach from=$roles item=ro}
                            <option value="{$ro.id_role}" {if $ro.role == $role}selected="selected">{$ro.role} (actual){else}>{$ro.role}{/if}</option>
                        {/foreach}
                        </select>
            <p><button type="submit" value="guardar" class="btn btn-primary"><i class="glyphicon glyphicon-ok icon-ok fa fa-check icon-white"> </i> Guardar</button></p>
    </form>