table caption {
    caption-side: top;
    background: darkorange;
    color: #fff;
    font-weight: bolder;
    padding-left: 2rem;
}

table th {
    background-color: #d5d8dc;
}

caption.modulo {
    background: darkgreen;
}

caption.libreria {
    background: darkblue;
}

.history {
    display: block; 
    text-align: right;
    margin-bottom: 1rem;
}

pre {
    font-family: monospace;
}