<h2 class="maintitle">Pecarí Info<sub>Historial de cambios</sub></h2>
<div class='history'>
    <a href='{$_layoutParams.root}pecariInfo'>Volver</a>
</div>

<div class='well card'>
    <div class='card-body'>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{$_layoutParams.ruta_fw}PECARI_{$version}"></iframe>
        </div>
    </div>
</div>
