body {
  padding-top: 3.5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h2.maintitle sub {
    display: block;
    margin-bottom: 2rem;
    color: #bbb;
    border-top: 1px solid #ddd;
    padding-top: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 32px;
  line-height: 32px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.dropdown-submenu {
	position: relative;
}

.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: 0;
	border-radius: 0.25rem;
}

.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropdown-submenu > a::after {
	border-bottom: 0.3em solid transparent;
	border-left-color: inherit;
	border-left-style: solid;
	border-left-width: 0.3em;
	border-top: 0.3em solid transparent;
	content: " ";
	display: block;
	float: right;
	height: 0;
	margin-right: -0.6em;
	margin-top: -1em;
	width: 0;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
	left: -75%;
}

.dropdown-menu .divider {
	background-color: #e5e5e5;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
}

a.dropdown-standalone {
    padding-left: 0;
}

a.dropdown-item i.fa {
    width : 24px;
}

nav form  .form-group, nav form button{
    margin-left: 8px;
}

.col-lg-11 {
    max-width: none;
}